.right {
    float: right;
}

.left {
    float: left;
}

body {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

a {
    text-decoration: none;
}

/* Nav Bar */

#navimage {
    height: 25px;
    width: 100px;
}

#navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }

#navul li:first-child {
    padding-left: 100px;
}

#navul li:nth-child(7) {
    margin-right: 100px;
}

#navul li {
    display: inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #yourwork {
      border: 1px solid #611F69;
      border-radius: 4px;
      background-color: #611F69;
      padding: 10px;
      color: white;
  }


  /* hero */


.small {
    height: 20px;
    width: auto;
}


#blueimg{
    position: relative;
    top: 400px;
    left: 88%;
}

#blueimg2 {
    position: relative;
    top: 10px;
    left : 0%;
}

#yellowimg {
    position: relative;
    top: 20px;
    left : 17%;
}

#yellowimg2 {
    position: relative;
    top: 350px;
    left : 91%;
}

#greenimg {
    position: relative;
    top: 50px;
    left : 70%;
}

#greenimg2 {
    position: relative;
    top: 400px;
    left : -10%;
}

#redimg {
    position: relative;
    top: 0px;
    left : 85%;
}

#redimg2 {
    position: relative;
    top: 325px;
    left : -10%;
}

#dropbox {
    position: relative;
    top: 430px;
    left : 37%;
}

#chrome {
    position: relative;
    top: 350px;
    left : 0%;
}

#z {
    position: relative;
    top: 200px;
    left : -5%;
}

#face {
    position: relative;
    top: 150px;
    left: -15%;
}

#dots {
    position: relative;
    top: 400px;
    left : 5%;
}

#arrow {
    position: relative;
    top: 10px;
    left : 60%;
}

#circle {
    position: relative;
    top: 250px;
    left : 60%;
}






#hero {
    height: 500px;
    width: 100%;
}

#herotext {
    height: 500px;
    width : 100%;
    text-align: center;
}

#herotitle {
    font-size: 64px;
}

#herop {
    font-size: 20px;
}

#signup {
    display: inline-block;
}

#heroemail {
    border: 1px solid black;
    border-radius: 4px;
    width: 200px;
    margin: auto;
    padding: 18.6px 16px 18.6px 0px;
    color: grey;
}

#tryslack {
    border: 1px solid #611F69;
    border-radius: 4px;
    width: 200px;
    margin: auto;
    padding: 19px 5px 20px;
    background-color: #611F69;
    font-size: .875rem;
    color: white;
}


/* collaboration */


#collaboration {
    width: 100%;
    height: 800px;
}

#collabtitle {
    text-align: center;
    font-size: 45px;
}


#textcollab {
    display: block;
    float: right;
}

#textcollab li{
    font-size: 16px;
    display: block;
    text-align: inherit;
    padding: 12px;
    margin: 12px 140px 12px 12px;
    width: 150px;
}

#collabimg {
    padding-left: 75px;
}


/* teamwork */


#teamwork {
    height: 600px;
    width: 100%;
}

#teamtext {
    height: 0px;
    width: 50%;
    padding-top: 175px;
    padding-left: 80px;
}

#teamtitle {
    font-size: 45px;
}

#teamp {
    font-size: 18px;
}

#teama {
    font-size: 18px;
}

#teamimg {
    position: relative;
    bottom: 145px;
    padding-right: 50px;
}


/* company */

.div {
    height: 350px;
    width: 20%;
    text-align: center;
    margin: 10px;
    padding: 25px 10px 35px;
    background-color: white;
}

#intuit {
    margin-left: 100px;
}

.companyimg {
    height: 250px;
    width: auto;
}

#everlaneimg {
    margin-top: 10px;
}

#company{
    background-color: #f0f0f0;
    text-align: center;
    height: 840px;
    width: 100%;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;;
    font-size: 18px;
}

#companytext {
    margin-bottom: 50px;
}

#companytitle {
    font-size: 50px;
    padding-top: 80px;
    margin-top: 80px;
    margin-bottom: 16px;
    font-weight: bold;
}

#companyp {
    font-size: 20px;
}

#companya{
    font-size: 18px;
}

.morecomimg {
    padding: 75px 45px 75px 45px;
}


/* more */

#more {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;;
    font-size: 24px;
    height: 800px;
    width: 100%;
    background-color: #f7f7f7;
    font-weight: bold;
}

#moretitle {
    text-align: center;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;;
    font-size: 45px;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 24px;
}

.morediv {
    height: 380px;
    width: 20%;
    margin-left: 0px;
    margin: 10px;
    padding: 50px 20px 35px;
    background-color: white;
}

.moreimg {
    height: 200px;
    width: auto;
}

#billion {
    margin-left: 200px;
}

#billionimg {
    width: auto;
    height: 170px;
}

.morea {
    font-size: 14px;
}

#morep {
    padding-top: 30px;
}

/* footer */

#footer {
    height: 480px;
    width: 100%;
}

#footertext li{
    font-size: 14px;
    padding: 8.8px 0px;
    display: block;
    color: #696969;
}

.footerdiv {
    height: 400px;
    width: 15%;
    margin: 17px;
}

#footerimg {
    height: 55px;
    width: auto;
    position: relative;
    top: 90px;
    left: 69px;
}


/* footer 2 */


#footer2 {
    height: 80px;
    width: 100%;
    background-color: #f7f7f7;
}

#footer2ul li{
    display: inline;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    color: #454545;
    font-weight: bold;
    padding-top: 30px;
}

#status {
    margin-left: 40px;
}

#linkedin {
    margin-right: 70px;
}

.footer2img {
    height: 20px;
    width: 1.8%;
    padding: 5px;
    padding-top: 30px;
}


/* footer 3 */


#footer3 {
    height: 40px;
    width: 100%;
    background-color: #e9e9e9;
}

#footer3 p {
    font-size: 12px;
    color: #454545;
    padding-left: 40px;
    padding-top: 15px;
    margin: 0;
}



  

