.right {
    float: right;
}

.left {
    float: left;
}

body {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

/* Nav Bar */

#navimage {
    height: 25px;
    width: 100px;
}

#navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }

li:first-child {
    padding-left: 100px;
}

li:nth-child(7) {
    padding-right: 300px;
}

li {
    display: inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  /* hero */

#hero {
    height: 500px;
    width: 100%;
    background-color: aqua;
}

#herotext {
    height: 500px;
    width : 100%;
    text-align: center;
}

#herotitle {
    font-size: 64px;
}

#herop {
    font-size: 20px;
}

#signup {
    display: inline-block;
}

#heroemail {
    border: 1px solid black;
    border-radius: 4px;
    width: 200px;
    margin: auto;
    padding: 18.4px 16px;
}

#tryslack {
    border: 1px solid purple;
    border-radius: 4px;
    width: 200px;
    margin: auto;
    padding: 19px 40px 20px;
    background-color: purple;
    font-size: .875rem;
}










