.right {
    float: right;
}

.left {
    float: left;
}

body {
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

/* Nav Bar */

#navimage {
    height: 25px;
    width: 100px;
}

#navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }

li:first-child {
    padding-left: 100px;
}

li:nth-child(7) {
    margin-right: 300px;
}

li {
    display: inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #yourwork {
      border: 1px solid #611F69;
      border-radius: 4px;
      background-color: #611F69;
      padding: 10px;
      color: white;
  }


  /* hero */


.small {
    height: 20px;
    width: auto;
}


#blueimg{
    position: relative;
    top: 400px;
    left: 88%;
}

#blueimg2 {
    position: relative;
    top: 0px;
    left : 0%;
}

#yellowimg {
    position: relative;
    top: 20px;
    left : 17%;
}

#yellowimg2 {
    position: relative;
    top: 350px;
    left : 91%;
}

#greenimg {
    position: relative;
    top: 50px;
    left : 70%;
}

#greenimg2 {
    position: relative;
    top: 400px;
    left : -10%;
}

#redimg {
    position: relative;
    top: 0px;
    left : 85%;
}

#redimg2 {
    position: relative;
    top: 325px;
    left : -10%;
}

#dropbox {
    position: relative;
    top: 430px;
    left : 37%;
}

#chrome {
    position: relative;
    top: 350px;
    left : 0%;
}

#z {
    position: relative;
    top: 200px;
    left : -5%;
}

#face {
    position: relative;
    top: 150px;
    left: -15%;
}

#dots {
    position: relative;
    top: 400px;
    left : 5%;
}

#arrow {
    position: relative;
    top: 10px;
    left : 55%;
}

#circle {
    position: relative;
    top: 250px;
    left : 45%;
}






#hero {
    height: 500px;
    width: 100%;
}

#herotext {
    height: 500px;
    width : 100%;
    text-align: center;
}

#herotitle {
    font-size: 64px;
}

#herop {
    font-size: 20px;
}

#signup {
    display: inline-block;
}

#heroemail {
    border: 1px solid black;
    border-radius: 4px;
    width: 200px;
    margin: auto;
    padding: 18.6px 16px;
    color: grey;
}

#tryslack {
    border: 1px solid #611F69;
    border-radius: 4px;
    width: 200px;
    margin: auto;
    padding: 19px 5px 20px;
    background-color: #611F69;
    font-size: .875rem;
    color: white;
}


/* collaboration */


#collaboration {
    width: 100%;
    height: 800px;
}

#collabtitle {
    text-align: center;
    font-size: 45px;
}


#textcollab {
    display: block;
    float: right;
}

#textcollab li{
    font-size: 16px;
    display: block;
    text-align: inherit;
    padding: 12px;
    margin: 12px 140px 12px 12px;
    width: 150px;
}

#collabimg {
    padding-left: 75px;
}


/* teamwork */


#teamwork {
    height: 600px;
    width: 100%;
}

#teamtext {
    height: 0px;
    width: 50%;
    padding-top: 175px;
    padding-left: 80px;
}

#teamtitle {
    font-size: 45px;
}

#teamp {
    font-size: 18px;
}

#teama {
    font-size: 18px;
}

#teamimg {
    position: relative;
    bottom: 145px;
}


/* company */

#company{
    background-color: grey;
    text-align: center;
}

#companytitle {
    font-size: 50px;
    
}
